*{
margin: 0px;
border: 0px;
padding: 0;
box-sizing: border-box ;
}

.contenedor-general{
    max-width: 1280px;
    max-height: 720px;
    display: grid;
}

.menu-contenedor{
    background-color: blue;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5%;
    padding: 0 5% 0 5%;
}

/*---------- Caja del logo ----------*/
.menu-logo{
    background-color: gray;
}

/*---------- Caja de los links ---------*/
.menu-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 3%;
    background-color: gray;
}

/*---------- caja para botón login/sign up o lo que sea ----------*/
.menu-boton-login{
    background-color: gray;
}

/*---------- EL CUEPRO DE LA PAGINA TIENE 7 CONTENEDORES, A CONTINUACIÓN TODOS ELLOS:  ----------*/


/*---------- CONTENEDOR 1 ----------*/
.contenedor1{
    background-color: blueviolet;
    height: 80vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr
}

/*---------- CONTENEDOR 2 ----------*/

.contenedor2{
    justify-self: center;
    background-color: brown;
    width: 86vw;
    height: 80vh;
    padding: 20px;
}

.contenedor2-2{
    justify-self: center;
    background-color: rgb(161, 73, 73);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 3fr;
}

.contenedor2-2_h2-1{
    grid-row: 1/2;
}

.contenedor2-2 p{
    grid-row: 2/3;
}

.contenedor2-2_h2-2{
    grid-row: 3/4;
}

.contenedor2-2-container{
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
}

/*---------- CONTENEDOR 3 ----------*/

.contenedor3{
    background-color: rgb(36, 16, 55);
    width: 100vw;
    height: 60vh;
    padding-top:30px;
}

.contenedor3-3{
    background-color: rgb(170, 136, 202);
    width: 90vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contenedor3-3-mini{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
}


/*---------- CONTENEDOR 4 ----------*/

.contenedor4{
    padding-top: 50px;
    height: 130vh;
    background: rgb(222, 157, 35);
}

.contenedor4-4{
    background-color: rgb(225, 181, 98);
    width: 90vw;
    height: 123vh;
    margin-left: auto;
    margin-right: auto;
}

.contenedor4-4-4{
    background-color: orange;
    height: 100vh;
    padding: 24px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    margin-left: auto;
    margin-right: auto;
}

.contenedor4-4-4_logos{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

